:root {
  --red: #d76978;
  --blue: #85a1c2;
  --yellow: #e7d372;

  --roboto: "Roboto", sans-serif;
  --fuzzy-bubbles: "Fuzzy Bubbles", cursive;
}

* {
  box-sizing: border-box;
}

body {
  color: black;
}

h1 {
  font: bold, 2.5rem, var(--roboto);
  rotate: 90deg;
}

h2 {
  font: bold, 1.5rem, var(--roboto);
  color: var(--red);
}

h3 {
  font: bold, 1rem, var(--fuzzy-bubbles);
}
