* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
  --red: #d76978;
  --blue: #85a1c2;
  --yellow: #e7d372;

  --roboto: "Roboto", sans-serif;
  --fuzzy-bubbles: "Fuzzy Bubbles", cursive;
}

body {
  color: black;
}

h1 {
    display: inline-block;
  font-size: 2.5rem;
  font-family: var(--roboto);
  font-weight: bold;
  transform-origin: top left;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  rotate: 180deg;
  transform-origin: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--roboto);
  color: var(--red);
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--fuzzy-bubbles);
}

.fixPaageMargin {
    padding-inline: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
}
nav ul li a {
    font-family: var(--roboto);
    text-decoration: none;
    color: #000;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: 29px;
    background-image: url(../image/blob.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 20px;
}

header nav {
    grid-column: 1 / -1;
    justify-self: center;
}


/* Card */



/* Fotter */
footer {
    position: relative;
    background-image: url(../image/blob2.svg);
    background-repeat: no-repeat;
    background-position: top left;

    height: 260px;
}
footer nav {
    position: absolute;
    bottom: 20px;
    right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 50px;
}

/* Service */
.sertvice {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  overflow: auto;
  width: calc(100vw - 48px);
}

.sertvice .deliviry {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.sertvice .deliviry p {
  grid-column: 2 / -1;
  font-family: var(--roboto);
}

.sertvice .deliviry i {
    grid-row: 1 / -3;
    align-self: center;
    color: var(--red);
}

footer nav ul {
    justify-self: end;
}
footer nav .social {
    display: flex;
    gap: 16px;
}
footer nav .social i {
    font-size: 1.5rem;
    color: var(--red);
}