* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
:root {
  --red: #d76978;
  --blue: #85a1c2;
  --yellow: #e7d372;

  --roboto: "Roboto", sans-serif;
  --fuzzy-bubbles: "Fuzzy Bubbles", cursive;
}

* {
  box-sizing: border-box;
}

body {
  color: black;
}

h1 {
    display: inline-block;
  font-size: 2.5rem;
  font-family: var(--roboto);
  font-weight: bold;
  transform: rotateZ(-90deg)
}

h2 {
  font: bold, 1.5rem, var(--roboto);
  color: var(--red);
}

h3 {
  font: bold, 1rem, var(--fuzzy-bubbles);
}

nav ul li a {
    font-family: var(--roboto);
    text-decoration: none;
}


/* Fotter */
footer {
    position: relative;
}
footer nav {
    position: absolute;
    right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 50px;
}
footer nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
}
footer i {
    font-size: 1.5rem;
    color: var(--red);
}